# Python
__pycache__/
*.py[cod]

# Virtual environment
backend/venv/
backend/.venv/
.venv/
venv/

# PyInstaller
build/
dist/
*.spec.bak

# Node
frontend/node_modules/

# Vite
frontend/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Release
*.zip